<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div>
    <button onclick="check(1)" id="rollCall">Roll-call</button>
</div>
</body>
</html>
<script>
    function rollCall() {
        let id = localStorage.getItem('studentId');
        if (!checkRollCall(id)) {
            let hidden = document.getElementById("rollCall");
            // hidden.style.visibility = "hidden";
        }
    }

    rollCall();

    function checkRollCall(id){
        let token = localStorage.getItem("token");
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/lecture/"+id+"/check/exist",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + token);
            },
            success: function(data){
                return data;
            }, error: function(err){
                console.log(err);
            }
        })
    }

    function check(id){
        let token = localStorage.getItem("token");
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/lecture/"+id+"/check",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + token);
            },
            success: function(data){
                alert("Checked");
                let hidden = document.getElementById("rollCall");
                hidden.style.visibility = "hidden";
                console.log(data);
            }, error: function(err){
                console.log(err);
            }
        })
    }

</script>